:root {
    --web: #4d5ae5;
    --studio: #2e2f42;
    --studiolist: #6569c0;
    --add: #434455;
    --bodybc: #FFFFFF;
}

a {
    text-decoration: none;
}

body {
    font-family: Roboto, sans-serif;
    color: #434455;
    background-color: var(--bodybc);
}

/*HEADER*/
.liststyle {
    list-style: none;
}

/*Logo*/
.webstudio {
    font-family: "Raleway", sans-serif;
    font-weight:800;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--web);

}

.link {
    text-decoration: none;
}

.studiocolor {
    color: #2e2f42;
    margin-right: 76px;
}

/*Header Elements*/

.headerstudio {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0 24px;
}

.list {
    list-style-type:none;
}

.headerstudio:hover {
        color: #404bbf;
}

.headerstudio:focus {
        color: #404bbf;
}

/*Address*/
.adstyle {
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: flex;
}

.adstyle:first-child {
    margin-right: 40px;
}

.adstyle:last-child {
    margin-right: 0px;
}

.concolor {color:#434455;}
.concolor:hover {color:#404bbf}
.concolor:focus {color:#404bbf}

/*Header additional assignment three*/
.header {
  border-bottom: 1px #e7e9fc;
}

.displayflex {
    display: flex;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;

}

.navheader {    
    align-items: center;
}

.navulheader:first-child {
    margin-right: 40px;
}

.navulheader:last-child {
    margin-right: 0px;
}
/*Sections*/

/*1st Section*/

/*Hero*/
.hero {
    background-color: var(--studio);
    width: 1440px;
    height: 600px;
    flex-shrink: 0;
}

.hone {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}
.herobutton {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4D5AE5;
    cursor: pointer;
    display: inline-flex;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.herobutton:hover {background-color:#404bbf;}
.herobutton:focus {background-color:#404bbf;} 


/*Section 2*/
.sectionone {
    width: 1128px;
    height: 104px;
    flex-shrink: 0;
}

.headersectwo {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--studio);
}

.parsectwo {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--add);

}

.secone {
    display: flex;
    width: 264px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}


/*Section 3*/
.thirdsecheader {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--studio);
}

/*Section 4*/

.fourthsection {
    background-color: #F4F4FD;
}

.fourthlist {
    background-color: #FFFFFF;
}



/*Footer*/
.footerbackg {
    background-color: #2e2f42;
}

.pfooter {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
}

.studiocolorb {
    color: #F4F4FD;
}


/*Portfolio*/

/*Row 1*/

.portbuttona {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #4d5ae5;
    background-color: #F4F4FD;
    cursor: pointer;
}

.portbuttona:hover {color:#FFFFFF;}
.portbuttona:focus {color:#FFFFFF;}
.portbuttona:hover {background-color: #404bbf;}
.portbuttona:focus {background-color: #404bbf;}


/*Row 2*/
.portimage {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portpar {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.portfooter {
    background-color: #2e2f42;
}

.portstudio {
    color: #f4f4fd;
}